# Server Configuration
PORT=30033

# Security Configuration
SECRET_API_KEY=

# Comma-separated list of allowed IPs (No spaces, ending with dot for ranges)
ALLOWED_IPS=127.0.0.1,::1,192.168.

# Set to 'true' to completely disable IP checking. Set to 'false' for production.
IGNORE_IP_WHITELIST=true

# Active Sessions (Comma separated IDs for multiple numbers)
SESSION_IDS=primary-line,second

DEBUG_MODE=false